{% extends "base.html" %} {% block content %}

<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title> Jonas' blog </title>
    {% endif %}

    <style>
      .affix {
        top: 20px;
      }
    </style>
  </head>
  <body>
  


  <div class="container text-center">
    <div class="row">
      <nav class="col-sm-9 col-sm-3">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
          <li class="active"><a href="#section1">Section 1</a></li>
          <li><a href="#section2">Section 2</a></li>
          <li><a href="#section3">Section 3</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p> dummy column </p>
      </div>
      <div class="col-sm-9">
        <div class="text-center">
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. This is some test text. 
        This is some test text. This is some test text. This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        <h1> This is a test blog post </h1>
        <p> This is some test text. </p>
        <br>
        </div>
      </div>
    </div>
  </div>
  
  </body>
</html>

{% endblock %}